# Example configuration file for PokeServer
# Copy this to .env and update with your values

database:
  url: "postgres://postgres:postgres@localhost:5432/pokemon?sslmode=disable"
server:
  port: "8080"
pokeapi:
  url: "https://pokeapi.co/api/v2/pokemon?limit="
  max: 1025